<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>register</servlet-name>
  	<display-name>RegisterUser</display-name>
  	<description></description>
  	<servlet-class>register</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>forward</servlet-name>
  	<display-name>forward</display-name>
  	<description></description>
  	<servlet-class>forward</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>otp</servlet-name>
  	<display-name>otp</display-name>
  	<description></description>
  	<servlet-class>otp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendEmail</servlet-name>
  	<display-name>SendEmail</display-name>
  	<description></description>
  	<servlet-class>SendEmail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>login</servlet-name>
  	<display-name>login</display-name>
  	<description></description>
  	<servlet-class>administation.login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>retrive_data</servlet-name>
  	<display-name>retrive_data</display-name>
  	<description></description>
  	<servlet-class>administation.retrive_data</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>accept</servlet-name>
  	<display-name>accept</display-name>
  	<description></description>
  	<servlet-class>administation.accept</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>reject</servlet-name>
  	<display-name>reject</display-name>
  	<description></description>
  	<servlet-class>administation.reject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>show_images</servlet-name>
  	<display-name>show_images</display-name>
  	<description></description>
  	<servlet-class>DatabasesConnection.show_images</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>show_adhar</servlet-name>
  	<display-name>show_adhar</display-name>
  	<description></description>
  	<servlet-class>DatabasesConnection.show_adhar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>show_md</servlet-name>
  	<display-name>show_md</display-name>
  	<description></description>
  	<servlet-class>DatabasesConnection.show_md</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>forward</servlet-name>
  	<url-pattern>/forward</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>otp</servlet-name>
  	<url-pattern>/otp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendEmail</servlet-name>
  	<url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>retrive_data</servlet-name>
  	<url-pattern>/retrive_data</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>accept</servlet-name>
  	<url-pattern>/accept</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>reject</servlet-name>
  	<url-pattern>/reject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>show_images</servlet-name>
  	<url-pattern>/show_images</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>show_adhar</servlet-name>
  	<url-pattern>/show_adhar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>show_md</servlet-name>
  	<url-pattern>/show_md</url-pattern>
  </servlet-mapping>
  
</web-app>

